/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%) !important;
}
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
